.calendar-container {
  .weekdays, .week {
      display: flex;
  }
  .weekday, .day {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #ccc;
  }
  .day {
      flex-grow: 1;
      flex-basis: calc(100% / 7);
  }
  .day.has-hours {
    background-color: var(--Student-Hub-btn);
}
}
