@import 'src/scss/breakpoints.scss';


.matrice {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.zones-wrapper {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  justify-content: center;
  @include for-mobile{
    flex-direction: column;
  }
}

.zone-container {
  display: flex;
  // flex-basis: 50%;
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
  padding: 0rem 1rem 1rem 1rem;
  h1{
    @include for-mobile{
      font-size: --var(--dynamic-size-h1);
    }
  }
}

mat-grid-list {
  width: 100%;
  height: calc(100% - 48px);
}

mat-grid-tile mat-tab-group {
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  align-items: flex-start;
}

#spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
