<div class="inputSerach">
    <mat-form-field appearance="fill">
        <mat-label>Rechercher par login</mat-label>
        <input
            matInput
            class="input"
            type="text"
            [(ngModel)]="searchTerm"
            (ngModelChange)="search()"
            [matAutocomplete]="auto"
            (keyup.enter)="showUserSeleted()"
            aria-label="Rechercher par login"
        />
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let user of filteredUsers" [value]="user.login" (click)="showUserSeletedOnClick(user)">
                {{ user.login }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>

<mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="tabChanged($event)" *ngIf="showMatrice">
    <mat-tab label="I0">
        <div class="zones-wrapper">
            <mat-icon id="openParamBtn" (click)="openParamMap()">settings</mat-icon>
            <div class="zone-container" *ngFor="let zone of [matrice!.zones[1], matrice!.zones[0]]; let i = index">
                <h1 id="zone-h1">Z{{ i === 0 ? 2 : 1 }}</h1>
                <app-zone [zone]="zone" [zoneIndex]="i === 0 ? 2 : 1"></app-zone>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Discovery">
        <div class="zones-wrapper">
            <mat-icon id="openParamBtn" (click)="openParamMap()">settings</mat-icon>
            <div class="zone-container" *ngFor="let zone of [matrice!.zones[3], matrice!.zones[2]]; let i = index">
                <h1 id="zone-h1">Z{{ i === 0 ? 4 : 3 }}</h1>
                <app-zone [zone]="zone" [zoneIndex]="i === 0 ? 4 : 3"></app-zone>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

<div id="spinner" *ngIf="!showMatrice">
    <mat-spinner></mat-spinner>
</div>
