.poste {
  text-align: center;
  margin: 5px;
}

.poste-image img {
  width: 55px;
  height: 45px;
}

.placeholder-image {
  width: 55px;
  height: 45px;
  background-color: white;
}

.poste-number {
  margin-top: 5px;
}
