@import 'src/scss/breakpoints.scss';

.poste {
  text-align: center;
  margin: 5px;
}

.poste-image {
  width: var(--dynamic-size-poste);
  height: var(--dynamic-size-poste);
  @include for-tablet{
    width: 2.5;
    height: 2.5;
  }
  @include for-mobile{
    width: var(--dynamic-size-poste-mobile);
    height: var(--dynamic-size-poste-mobile);
  }
  cursor: pointer;

  .user-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .placeholder-image {
    width: 100%;
    height: 100%;
    background-color: #3c3a3a;
  }
}

.poste-number {
  margin-top: 5px;
}
