.poste {
  text-align: center;
  margin: 5px;
}

.poste-image {
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;

  .user-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .placeholder-image {
    width: 100%;
    height: 100%;
    background-color: white;
  }
}

.poste-number {
  margin-top: 5px;
}
