<div id="body-pages">
    <h1>Hello {{ user?.name }} !</h1>
    <div *ngIf="showButtonRefresh">
        <span>
            <button mat-fab extended color="primary" (click)="processGetLogtime()">Refresh Logtime</button>
            <input type="file" (change)="onFileSelect($event)" id="file" style="display: none" />
            <button mat-fab extended color="primary" id="btnFile"><label for="file" mat-raised-button color="primary">Importer Logtime Distanciel</label></button>
            <p>Nombre d'actualisation restant {{ user!.strucCall.numberCall }} <br /></p>
            <p>dernière actualisation {{ user!.strucCall.date }} {{ user!.strucCall.time }}</p>
        </span>
        <mat-error *ngIf="messageError !== ''">{{ messageError }}</mat-error>
        <app-slider [timeTotals]="timeTotals" [timeByMonthKeys]="timeByMonthKeys"></app-slider>
    </div>
    <div id="spinner" *ngIf="!showButtonRefresh">
        <mat-spinner></mat-spinner>
    </div>
</div>
